<div id="book_wrap">
  <div id="book_top">
  </div>
    <div id="book">
      <% version = params[:version] ? '_3_0' : '' %>
      <%= render "layouts/contents#{version}" %>
      <%= render "layouts/preamble#{version}" unless params[:id] == 'preface' %>
      <%= raw @content %>
    </div>
  <div id="book_bottom">
  </div>
</div>
