<div id="book_wrap">
  <div id="book_top">
  </div>
    <div id="book">
      <%= render "shared_content/contents_4_0" %>
      <%= render "shared_content/preamble" unless params[:id] == 'preface' %>
      <%= raw @content %>
    </div>
  <div id="book_bottom">
  </div>
</div>
