<div id="book_wrap">
  <div id="book_top">
  </div>
    <div id="book">
      <% version = params[:version] %>
      <%= render "shared_content/contents_#{version}" %>
      <%= render "shared_content/preamble" unless params[:id] == 'preface' %>
      <%= raw @content %>
    </div>
  <div id="book_bottom">
  </div>
</div>
