<div id='sidebar'>
  <div class='content'>
    <div id='navtool'>
      <table class='layout'>
        <tr>
          <td colspan='2'><a href="#book_menu"><img alt="Up A Level" src="/images/buttons/sb_button_up.png?1304201480" /></a></td>
        </tr>
        <tr>
          <td><%= prev_button(@content) %></td>
          <td><%= next_button(@content) %></td>
        </tr>
      </table>
      <br />
      <a href="http://ruby.railstutorial.org/#buy"><img alt="Buy Screencasts" src="/images/buttons/sb_button_buy_screencasts_red.png?1304201480" /></a>
      <div class="section">
        <div class="switcher custom">
          <span class="switcher_link <%= params[:version] ? '' : 'title round' %>">
            <a href="/chapters/beginning">Rails 3.2</a>
          </span>
          •
          <span class="switcher_link <%= params[:version] ? 'title round' : '' %>">
            <a href="/chapters/beginning?version=3.0">Rails 3.0</a>
          </span>
        </div>
      </div>
      <a rel="nofollow" href="http://orphus.ru" id="orphus" target="_blank">
        <img alt="Система Orphus" src="/images/orphus.gif" border="0" width="88" height="31" />
      </a>
    </div><!-- <div id='navtool'> -->
  </div><!-- <div class='content'> -->
</div><!-- <div id='sidebar'> -->
